---
import Layout from "../../layouts/Layout.astro";
import LandingHeader from "../../components/LandingHeader.astro";
import Logo from "../../components/Logo.astro";
import { years, players } from "../../lib/data";
import YearList from "../../components/YearList.astro";

const { id } = Astro.params;

if (!id) {
  throw new Error(`Year id is missing`);
}

const currentYear = years.find(year => year.id === id);
if (!currentYear) {
  throw new Error(`Year with id ${id} not found`);
}

const filteredPlayers = players.filter(player => player.years.includes(currentYear.number));
const positionOrder: Record<string, number> = {
  'top': 1,
  'jungler': 2,
  'mid': 3,
  'mid/adc': 4,
  'adc': 5,
  'support': 6
};

filteredPlayers.sort((a, b) => positionOrder[a.position] - positionOrder[b.position]);

const displayYear = (yearNumber: number): string => {
  switch (yearNumber) {
    case 2016.1:
      return "2016 Spring";
    case 2016.2:
      return "2016 Summer";
    case 2016.3:
      return "2016 Worlds";
    default:
      return yearNumber.toString();
  }
};

---

<Layout title={`G2 History - ${displayYear(currentYear.number)}`}>
  <LandingHeader />
  <div class="flex mt-8">
    <aside class="w-1/4 bg-gray-100 p-4 ml-14 rounded-xl">
      <ul>
        {
          years.slice(0, -1).map((year) => (
            <li class="mb-2">
              <YearList year={year} displayNumber={displayYear(year.number)} />
            </li>
          ))
        }
      </ul>
    </aside>
    <main class="w-3/4 p-4 flex flex-col items-center">
      <h2 class="text-2xl font-bold mb-4 text-center">Players for {displayYear(currentYear.number)}</h2>
      <div class="flex space-x-4 justify-center">
        {
          filteredPlayers.map((player) => (
            <a href={`/players/${player.id}`} class="flex flex-col items-center transition-all duration-300">
              <img src={player.image} alt={player.name} class="w-40 h-40 rounded-full mb-2 object-cover object-top" transition:name={`player ${player.id} image`} />
              <p class="text-center">{player.name}</p>
            </a>
          ))
        }
      </div>
    </main>
  </div>
</Layout>
