---
import { years } from "../lib/data";
import { players } from "../lib/data";

const lastYear = years[years.length - 1].number;

const filteredPlayers = players.filter(player => player.years.includes(lastYear));

const positionOrder: Record<string, number> = {
  'top': 1,
  'jungler': 2,
  'mid': 3,
  'mid/adc': 4,
  'adc': 5,
  'support': 6
};

filteredPlayers.sort((a, b) => positionOrder[a.position] - positionOrder[b.position]);
---
<h2 class="text-2xl font-bold my-8 text-center">OUR CHAMPIONS</h2>
<div class="flex flex-wrap space-x-4 justify-center">
  {
    filteredPlayers.map((player) => (
      <div class="flex flex-col items-center mb-4">
        <a href={`/players/${player.id}`} class="transition-all duration-300">
          <img src={player.image} alt={player.name} class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-full mb-2 object-cover object-top" transition:name={`player ${player.id} image`} loading="lazy" />
          <p class="text-center">{player.name}</p>
        </a>
      </div>
    ))
  }
</div>
